
<div>
    <ul *ngFor ="let doctor of doctor let i = index">
        <li> {{doctor._id}}: 
            {{doctor.name}}
            {{doctor.specialities}} 
            {{doctor.location}} 
            {{doctor.phoneNumber}}
            {{doctor.visitingHours}}
            (index {{i}})</li>
            
            <button mat-button color="warn" (click)="onDelete(doctor._id)"
            mat-raised-button color="warn">DELETE</button>
            <button mat-button color="accent" [routerLink]="['/editDoctor', doctor._id]" 
            mat-raised-button color="primary">UPDATE</button>
    </ul>
   
</div>